<?xml version="1.0"?>

<launch>

    <arg name="zed_ns"    value="zed" />
    <arg name="zed_node_name" value="zed_node" />

    <group ns="$(arg zed_ns)">
        <include file="$(find zed_wrapper)/launch/zed_camera.launch">
            <arg name="zed_node_name"       value="$(arg zed_node_name)" />
            <arg name="camera_model"    value="zedm" />
            <arg name="publish_urdf"    value="true" />
        </include>
    </group>

    <group ns="rplidar">
        <include file="$(find rplidar_ros)/launch/rplidar.launch" />
    </group>

    <group ns="bugv_tf">
        <!--<include file="$(find bugv_tf)/launch/bugv_tf.launch" />-->
        <param name="bugv_description" textfile="$(find bugv_rtab)/urdf/bugv.urdf" />
        <node name="bugv_state_publisher" pkg="robot_state_publisher" type="state_publisher">
            <remap from="robot_description" to="bugv_description" />
        </node>
    </group>
  
    <include file="$(find rtabmap_ros)/launch/rtabmap.launch">
      <arg name="rtabmap_args"                  value="--delete_db_on_start" />
      <arg name="rgb_topic"               	value="/$(arg zed_namespace)/$(arg zed_node_name)/rgb/image_rect_color" />
      <arg name="depth_topic"             	value="/$(arg zed_namespace)/$(arg zed_node_name)/depth/depth_registered" />
      <arg name="camera_info_topic"       	value="/$(arg zed_namespace)/$(arg zed_node_name)/rgb/camera_info" />
      <arg name="depth_camera_info_topic" 	value="/$(arg zed_namespace)/$(arg zed_node_name)/depth/camera_info" />
      <!--<arg name="subscribe_scan"                value="true" />
      <arg name="scan_topic"                    value="/scan" />-->
      <arg name="frame_id"                      value="base_link" />
      <arg name="approx_sync"                   value="true" />
      <arg name="visual_odometry"               value="false" />
      <arg name="odom_topic"                    value="/$(arg zed_ns)/$(arg zed_node_name)/odom" />
      <arg name="rviz"                          value="true" />
    </include>
</launch>
