<?xml version="1.0"?>
<launch>
    <arg name="visual_odom"     value="true" doc="Use ZED visual odometry"/>
    <arg name="rviz"   value="true"/>
 
    <arg     if="$(arg visual_odom)" name="input_odom"  default="/zed/zed_node/odom"/>
    <arg unless="$(arg visual_odom)" name="input_odom"  default="/odom"/>
 
    <!-- CAMERA -->
    <include file="$(find bugv)/launch/zedm_init.launch">
      <arg name="visual_odom" value="$(arg visual_odom)"/>
    </include>
 
    <!-- LiDAR -->
    <include file="$(find bugv)/launch/rplidar_init.launch"/>
 
    <!-- MavLink to PX4 -->
    <!--<include file="$(find bugv)/launch/pixhawk_init.launch"/>-->
 
    <!-- URDF + tf -->
    <include file="$(find bugv_tf)/launch/bugv_tf.launch" />
    <param name="bugv_description" textfile="$(find bugv)/urdf/bugv.urdf" />
    <node name="bugv_state_publisher" pkg="robot_state_publisher" type="state_publisher">
        <remap from="robot_description" to="bugv_description" />
    </node>
 
    <!-- RTABMAP -->
    <include file="$(find bugv)/launch/rtabmap.launch">
        <!--<arg name="input_odom" value="$(arg input_odom)"/>-->
      <arg name="rviz"       value="$(arg rviz)"/>
  </include>
 
    <!-- Use darknet YOLO? -->
 
    <!-- RVIZ -->
    <node if="$(arg rviz)" pkg="rviz" type="rviz" name="rviz"
        args="-d $(find bugv)/rviz/bugv_rtabmap_zedm_rplidar.rviz" />
 
    <!-- bugv Logic -->
    <node name="bugv_logic" pkg="bugv" type="bugv_logic" />
</launch>
