<?xml version="1.0"?>
<launch>
  <arg name="visual_odom"     default="false" doc="Use ZED visual odometry"/>
  <arg name="rviz"            default="true"/>

  <arg     if="$(arg visual_odom)" name="input_odom"  default="/stereo_camera/odom"/>
  <arg unless="$(arg visual_odom)" name="input_odom"  default="/odom"/>

  <!-- URDF + tf -->

  <!-- CAMERA -->
  <include file="$(bugv)/launch/zedm_init.launch">
    <arg name="visual_odom" value="$(arg visual_odom)"/>
  </include>

  <!-- LiDAR -->
  <include file="$(find turtlebot3_bringup)/launch/turtlebot3_lidar.launch">
    <arg name="set_frame_id" value="$(arg set_lidar_frame_id)"/>
  </include>

  <!-- MavLink to PX4 -->

  <!-- RTABMAP -->
  <include file="$(find turtlebot3_slam_3d)/launch/rtabmap.launch">
    <arg name="use_zed"    value="$(arg use_zed)"/>
    <arg name="input_odom" value="$(arg input_odom)"/>
    <arg name="rviz"       value="false"/>
  </include>

  <!-- Use darknet YOLO? -->

  <!-- SUBSCRIBER -->
  <node pkg="turtlebot3_slam_3d" type="detection_collector.py"
        name="detection_collector" output="screen"/>

  <!-- RVIZ -->
  <node if="$(arg rviz)" pkg="rviz" type="rviz" name="rviz"
	args="-d $(find turtlebot3_slam_3d)/config/yolo.rviz" />

</launch>
