<?xml version="1.0"?>
<launch>
    <arg name="rplidar_ns"          default="rplidar" />
    <arg name="rplidar_node_name"   value="rplidar_node" />
    <!--<include file="$(find rplidar_ros)/launch/rplidar.launch" />-->
    <group ns="$(arg rplidar_ns)">
        <node name="$(arg rplidar_node_name)"          pkg="rplidar_ros"  type="rplidarNode" output="screen">
            <param name="serial_port"         type="string" value="/dev/ttyUSB0"/>
            <param name="serial_baudrate"     type="int"    value="115200"/>
            <param name="frame_id"            type="string" value="lidar_frame"/>
            <param name="inverted"            type="bool"   value="false"/>
            <param name="angle_compensate"    type="bool"   value="true"/>
        </node>
    </group>
</launch>
