<?xml version="1.0"?>
<launch>
    <arg name="zed_topic" value="/zed/zed_node"/>
  
    <include file="$(find rtabmap_ros)/launch/rtabmap.launch">
      <arg name="rtabmap_args"              value="--delete_db_on_start" />
      <arg name="rgb_topic"               	value="$(arg zed_topic)/rgb/image_rect_color" />
      <arg name="depth_topic"             	value="$(arg zed_topic)/depth/depth_registered" />
      <arg name="camera_info_topic"       	value="$(arg zed_topic)/rgb/camera_info" />
      <arg name="depth_camera_info_topic" 	value="$(arg zed_topic)/depth/camera_info" />
      <arg name="subscribe_scan"            value="true" />
      <arg name="scan_topic"                value="/rplidar/scan"/>
      <arg name="frame_id"                  value="base_link" />
      <arg name="approx_sync"               value="true" />
      <arg name="visual_odometry"           value="true" />
      <arg name="odom_topic"                value="$(arg zed_topic)/odom" />
      <arg name="rviz"                      value="true" />
    </include>
</launch>
