<?xml version="1.0"?>
<launch>
    <arg name="zed_ns"        default="zed" />
    <arg name="zed_node_name" value="zed_node" />
    <arg name="visual_odom"   default="true" doc="Use ZED visual odometry"/>
 
    <include file="$(find zed_wrapper)/launch/zed_camera.launch" ns="$(arg zed_ns)"> <!-- ns originally stereo_camera -->
        <arg name="node_name"       value="$(arg zed_node_name)" />
        <arg name="camera_model"    value="zedm"/> <!-- ZEDM -->
        <arg name="publish_urdf"    value="false"/>
    </include>
 
</launch>
